@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: #213547;
  --bg: #cdd2b0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

h1 {
  font-family: Anton;
}

.dark {
  --bg: #213547;
  --text: #ffffff;
}

.listText {
  color: black;
}

.dark .label {
  color: #ffffff40;
}





/* 
@media (prefers-color-scheme: light) {
  :root {
    color: var(--text);
    background-color: var(--bg);
  }

}
@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #213547;
  }

} */
